/* #responsiveCanvas{
    width: 100%;
} */
/* .container {
    justify-content: center;
} */

/* main {
    justify-content: center;
    display: flex;
     background-color: white; 
} */

main {
    position: relative;
}

.map {
    position: absolute;
    height: 700px;
    width: 700px;
    right: 483px;
    z-index: 1;
    opacity: 0.5;
}

#yourLocation {
    width: 200px;
}

#destLocation {
    width: 200px;
}

.button {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 400px;
}

.aboutus {
    display: flex;
}

.mainContainer{
    display: flex;
}

@media only screen and (max-width: 1200px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }

    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .mainContainer{
        display: block;
    }

    .dept{
        width: 100%;
    }
    .btn{
        display: flex;
        display: block;
        /* margin-left: 30px; */
        width: 200px;
        justify-self: center;
    }

.directionBlocks {
    width: 63%;
}


}
@media only screen and (max-width: 400px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }
    #defaultCanvas0{
        width: 4px;
    }

    .canvas{
        width: 50vw;
        display: flex;
    }
    /* #responsiveCanvas{
        height: 300px;
    } */

    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    canvas{
        display: block;
        height: 400px;
        width: 80%;
    }

    .dept{
        width: 100%;
    }

    .directionBlocks{
        width: 80%;
    }


}

.dept {
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
}

tr:hover {
    border-color: black;
    background-color: #dddddd;
}

.directionBlocks{
    margin-left: 30px;
}


.card-img-top{
        height: 270px;
        
}