/* Navbar */
.navbarContainer{
    position: relative;
    margin-bottom: 40px;
}
.navbarBrand{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    position: absolute;
    left: 20px;
    margin: 6px;
    top: 6px;
    z-index: 1;
}

.navbarBrand:hover{
    color: black;
    cursor: pointer;
    border: 1px solid none;
    border-radius: 4px;
}
.navLink{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 20px;
    padding: 6px;
    font-weight: bold;
    color: rgb(25, 4, 53);
}

.navLink:hover{

    background-color: rgb(25, 4, 53);
    color: white;
}

.directionBlocks{
    margin: 10px 0px;
}

#defaultCanvas0{
    background-color: black;
}


 /* About us */
.aboutus {
    display: flex;
}

.mainContainer{
    display: flex;
}

.destLocation:hover{
    cursor: pointer;
}

#btn{
    padding: 2px;
    background-color: rgb(8, 8, 51);
    border: 2px solid rgb(8, 8, 51);
    border-radius: 14px;
        align-items: center;
        text-align: center;
        justify-content: center;
        /* width: 400px; */
        margin: auto;
        width: 50%;
        margin-bottom: 60px;
        
}
#btn:hover{
    background-color:rgb(56, 56, 180) ;
    cursor: pointer;
}

#canvas{
            margin: auto;
            width: 83%;
}

@media only screen and (max-width: 1200px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }

    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .mainContainer{
        display: block;
    }

    .dept{
        width: 100%;
    }
    .btn{
        display: flex;
        display: block;
        /* margin-left: 30px; */
        width: 200px;
        justify-self: center;
    }




}
@media only screen and (max-width: 400px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }
    #defaultCanvas0{
        width: -20px;
    }

    #canvas {
        margin: 18px;
        width: 90%;
    }


    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }


    .dept{
        width: 100%;
    }




}

@media only screen and (max-width: 300px) {
        #canvas {
            margin: 12px;
            width: 956%;
        }
}

.dept {
    display: block;
}



/*  Table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
}

/* tr:hover {
    border-color: black;
    background-color: #dddddd;
} */



.card-img-top{
        height: 270px;
        
}